@import "bootstrap.min.css";

body {
  font-size: 62.5%;
  background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    font-size: 3em;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {color: Black;
  font-family: 'futura-pt-condensed', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

h2, h3 {
  font-family: 'futura-pt-condensed', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.7em;
  font-weight: 400;
}


p {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 22px;
}

/*
----------------------------------------------------------------
	Media
---------------------------------------------------------------- */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}



#mainsection{
margin-left: 20px;
margin-top:15px;
width:650px;
float:left;
padding:10px 5px 15px 20px;
color: #034575;
text-align:justify;
font-family: Georgia
}

.primary-nav ul {
  margin:0;
  padding:0;
  }
.primary-nav li {
  float:left;
  list-style: none;
  text-align:center;
  }


  #navbar {
       margin:0;
       padding: 0;
    }

    #navbar ul {
       margin: 0;
       padding: 0;

    }

    #navbar ul li a {
       color: white;
       text-align: center;
       text-decoration: none;
       width: 50px;
       height: 30px;
       display: block;
    }

    #navbar ul ul{
       position: absolute;
       display: none;

    }

    #navbar ul li:hover ul{
      display: block;
    }



    ul.rig {
    	list-style: none;
    	font-size: 0px;
    	margin-left: -2.5%; /* should match li left margin */
    }
    ul.rig li {
    	display: inline-block;
    	padding: 10px;
    	margin: 0 0 2.5% 2.5%;
    	background: #fff;
    	border: 1px solid #ddd;
    	font-size: 16px;
    	font-size: 1rem;
    	vertical-align: top;
    	box-shadow: 0 0 5px #ddd;
    	box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    }
    ul.rig li img {
    	max-width: 100%;
    	height: auto;
    	margin: 0 0 10px;
    }
    ul.rig li h3 {
    	margin: 0 0 5px;
    }
    ul.rig li p {
    	font-size: .9em;
    	line-height: 1.5em;
    	color: #999;
    }
    /* class for 2 columns */
    ul.rig.columns-2 li {
    	width: 47.5%; /* this value + 2.5 should = 50% */
    }
    /* class for 3 columns */
    ul.rig.columns-3 li {
    	width: 30.83%; /* this value + 2.5 should = 33% */
    }
    /* class for 4 columns */
    ul.rig.columns-4 li {
    	width: 22.5%; /* this value + 2.5 should = 25% */
    }

    @media (max-width: 480px) {
    	ul.grid-nav li {
    		display: block;
    		margin: 0 0 5px;
    	}
    	ul.grid-nav li a {
    		display: block;
    	}
    	ul.rig {
    		margin-left: 0;
    	}
    	ul.rig li {
    		width: 100% !important; /* over-ride all li styles */
    		margin: 0 0 20px;
    	}
    }
    
